.pageContainer{
    position: relative;
    margin-bottom: 90px;
}

.pictureTop{
    border-radius: 40px;
    width: 100%;
    object-fit: cover;

    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
    margin-top: 40px;
}

.pageInformation{
    position: absolute;
    top: 448px;
    left: 78px;

    border-radius: 24px;
    padding: 40px;
    width: 560px;
    height: 144px;

    backdrop-filter: blur(24px);
    background: rgba(32, 40, 62, 0.8);
    background-color: #8383832f;
}

.pageInformation span{
    width: 185px;
    height: 16px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: var(--primary-200);
}

.pageInformation h2{

    margin-top: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--grey-50);
}

.AddList{
    position: absolute;
    top: 448px;
    right: 20px;

    border-radius: 24px;
    padding: 40px;
    width: 500px;
    height: 140px;

    backdrop-filter: blur(24px);
    background: rgba(32, 40, 62, 0.8);
    display: flex;
    flex-direction: column;
    gap: 10px;

}



.addBtn{
    cursor: pointer;

    margin-top: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: var(--primary-400);
    text-align: center;
    
    display: flex;
    justify-content: center;

}

.removeBtn{
    cursor: pointer;
    
    margin-top: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    
    display: flex;
    justify-content: center;
    color: var(--error-500);
}

.suggestBtn{
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--primary-400);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.unSuggestBtn{
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--success-400);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pictureBottom{
    border-radius: 24px;
    height: 100%;
}


.details{
    margin-top: 152px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.filmTitle{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: -0.01em;
    color: var(--grey-50);
    margin-bottom: 24px;
}

.description{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--grey-300);
    margin-bottom: 48px;
}

/*  */
.detailList{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.detailListItem{
    margin-top: 24px;

    height: 64px;
    width: 228px;
    list-style: none;
}

.detailListItemCaption{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--grey-400);

    display: block;
}

.detailListItemValue{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--grey-100);
}

/*  */
